* {
    transition: all .4s;
}

#mobile-sect {
    display: none;
}

.smalls {
    display: none;
}

/* Header Styling */

header {
    height: 70px;
    background-color:white; 
}

header nav  {
    text-align: center;
    line-height: 70px;
}

header nav a {
    text-decoration: none;
    color: #C7C7AB;
    font-size: 2.5em;
    /* opacity: .5; */
    transition: all .4s;
    padding: 0 3vh;
    font-family: 'Parisienne', cursive;
}

header nav a:hover {
    text-decoration: underline;
    color: #C7C7AB;
}

header nav a:first-child {
    float: left;
    
}

header nav a:first-child > img {
    height: 60px;
}

/* header nav a:hover {
    opacity: 1;
} */

#welcome-wrapper-one {
    height: 40vh;
    width: 90%;
    background-color: #C7C7AB;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;
    padding-top: 25px;
    /* padding: 10px 3vw; */
}

#welcome-wrapper-one h2 {
    color: white;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

#welcome-wrapper-one p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
}

#results-pic-wrapper {
    background-image: url("../assets/results.jpg");
}

.left-teaser {
    float: left;
    height: 35vh;
    width: 35vw;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.right-teaser-text {
    float: right;
    width: 35vw;
    padding: 25px;
    padding-top: 2.5%;
}


#handshake-pic-wrapper {
    background-image: url("../assets/handshake.jpg");
}

#fist-pic-wrapper {
    background-image: url("../assets/fist-photo-3184430.jpg");
}

.right-teaser {
    float: right;
    height: 35vh;
    width: 35vw;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.left-teaser-text {
    float: left;
    width: 35vw;
    padding: 25px;
    padding-top: 2.5%;
}

.left-teaser-text h3 {
    text-align: center;
    color: #C7C7AB;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

.left-teaser-text p {
    width: 40vw;
    margin: 0 auto;
    font-size: 1.2em;
    color: #C7C7AB
}

.right-teaser-text h3 {
    text-align: center;
    color: #C7C7AB;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

.right-teaser-text p {
    width: 40vw;
    margin: 0 auto;
    font-size: 1.2em;
    color: #C7C7AB
}


.bio-wrapper {
    margin-bottom: 35px;
}


#headshot-wrapper {
    height: 300px;
    width: 300px;
    background-image: url("../assets/headshot.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18);
}

.bio-wrapper h2 {
    text-align: center;
    color: #C7C7AB;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

.bio-wrapper p {
    width: 75%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #C7C7AB;
}

#signature-wrapper {
    background-image: url('../assets/signature.jpg');
    background-size: cover;
    height: 150px;
    width: 250px;
    float: right;
    position: relative;
    right: 12vw;
}


.welcomeWrapperFour {
    background-color: #C7C7AB;
    padding-top: 35px;
}

.welcomeWrapperFour h2 {
    color: white;
    text-align: center;
}

.welcomeWrapperFour {
    padding-top: 35px;
    text-align: center;
}

.half {
    width: 40vw;
    border: 2px solid white;
    background-color: #C7C7AB;
    border-bottom: none;
    font-size: 1.8em;
    text-align: center;
    outline: none;
}

#firstName {
    margin-right: -4px;
    border-right: 1px solid white;
}

#lastName {
    margin-left: 0px;
    border-left: 1px solid white;
    
}

.full {
    width: 80vw;
    border: 2px solid white;
    background-color: #C7C7AB;
    border-bottom: none;
    font-size: 1.8em;
    text-align: center;
    outline: none;
}

#sendMessageButton {
    border-bottom: 2px solid white;
    color: white;
}

#sendMessageButton:hover {
    background-color: white;
    color: #C7C7AB;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18);
}

.welcomeWrapperFour form textarea {
    border-bottom: 2px solid white;
    height: 30vh;
    resize: none;
    margin-bottom: 20px;
}

::-webkit-input-placeholder { /* Edge */
    color: white;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::placeholder {
    color: white;
  }

  .social-list {
      text-align: center;
      list-style-type: none;
      margin-bottom: 35px;
  }

  /* .social-list li {
      margin-left: 15px;
      margin-right: 15px;
  } */

  .social-list li a {
      color: white;
      opacity: .7;
      font-size: 4em;
      margin-left: 15px;
      margin-right: 15px;

  }

  .social-list li a:hover {
      opacity: 1;
  }


  #about-wrapper-one {
      height: 35vh;
      width: 100vw;
      background-image: url('https://images.pexels.com/photos/1648387/pexels-photo-1648387.jpeg?cs=srgb&dl=pexels-victoria-borodinova-1648387.jpg&fm=jpg');
      background-size: cover;
  }

  #about-wrapper-two {
      padding: 0 30px;
  }

  #about-wrapper-two h2 {
    text-align:center;
    color: #C7C7AB;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
  }

  #about-wrapper-two p {
      color :#C7C7AB;
      text-indent: 25px;
  }
  













  footer {
      height: 20vh;
      background-color: #C7C7AB;
  }

  footer address {
    text-align: center;
  }

  footer address a {
      color: white;
  }

  footer address a:hover {
      text-decoration: none;
  }
  


  /* Media Queries */

  /* small */

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    * {
        display: none;
    } 
  }



