body {
    padding: 0;
    margin: 0;
}

* {
    transition: all .4s;
}

ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

li {
    color: #7F886B; 
}

#miniWidget {
    display: none;
}

.smalls {
    display: none;
}

/* Header Styling */

header {
    height: 70px;
    background-color:white; 
}

header nav  {
    text-align: center;
    line-height: 70px;
}

header nav a {
    text-decoration: none;
    color: #7F886B;
    font-size: 2.5em;
    /* opacity: .5; */
    transition: all .4s;
    padding: 0 3vh;
    font-family: 'Parisienne', cursive;
}

header nav a:hover {
    text-decoration: none;
    color: #F4EDDC;
}

header nav a:first-child {
    float: left;
    
}

#menuBar {
    display: none;
}

header nav a:first-child > img {
    height: 60px;
}

/* header nav a:hover {
    opacity: 1;
} */

#welcome-wrapper-one {
    min-height: 40vh;
    width: 96%;
    background-color: #F4EDDC;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;
    padding-top: 25px;
    /* padding: 10px 3vw; */
}

#welcome-wrapper-one h2 {
    color: #7F886B;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

#welcome-wrapper-one p {
    color: #7F886B;
    text-align: center;
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
}

#results-pic-wrapper {
    background-image: url("../assets/results.jpg");
}

.left-teaser {
    float: left;
    height: 35vh;
    width: 35vw;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.right-teaser-text {
    float: right;
    width: 35vw;
    padding: 25px;
    padding-top: 2.5%;
}


#handshake-pic-wrapper {
    background-image: url("../assets/handshake.jpg");
}

#fist-pic-wrapper {
    background-image: url("../assets/fist-photo-3184430.jpg");
}

.right-teaser {
    float: right;
    height: 35vh;
    width: 35vw;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.left-teaser-text {
    float: left;
    width: 35vw;
    padding: 25px;
    padding-top: 2.5%;
}

.left-teaser-text h3 {
    text-align: center;
    color: #7F886B;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

.left-teaser-text p {
    width: 40vw;
    margin: 0 auto;
    font-size: 1.2em;
    color: #7F886B
}

.left-teaser-text ul {
    text-align: center;
    list-style-type: none;
}

.left-teaser-text ul li {
    color: #7F886B;
}

.right-teaser-text ul {
    text-align: center;
    list-style-type: none;
}

.right-teaser-text ul li {
    color: #7F886B;
}

.right-teaser-text h3 {
    text-align: center;
    color: #7F886B;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

.right-teaser-text p {
    width: 40vw;
    margin: 0 auto;
    font-size: 1.2em;
    color: #7F886B
}


.bio-wrapper {
    margin-bottom: 35px;
    padding: 0;
}


#headshot-wrapper {
    height: 300px;
    width: 300px;
    background-image: url("../assets/headshot.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18);
}

.bio-wrapper h2 {
    text-align: center;
    color: #7F886B;
    font-family: 'Parisienne', cursive;
    font-size: 2.3em;
}

.bio-wrapper p {
    width: 75%;
    margin: 0 auto;
    font-size: 1.2em;
    color: #7F886B;
}

#signature-wrapper {
    background-image: url('../assets/signature.jpeg');
    background-size: cover;
    height: 150px;
    width: 250px;
    float: right;
    position: relative;
    right: 12vw;
}

#contact-tab {
    margin-right: 0;
}


.welcomeWrapperFour {
    background-color: #F4EDDC;
    padding-top: 35px;
    width: 100vw;
    margin-right: 0;
}

.welcomeWrapperFour h2 {
    color: #7F886B;
    text-align: center;
}

.welcomeWrapperFour {
    padding-top: 35px;
    text-align: center;
    width: 100vw;
}

#contactForm input:focus, #contactForm textarea:focus {
    background-color: white;
    color: black;

    

    
}

.half {
    width: 40vw;
    border: 2px solid #7F886B;
    background-color: #F4EDDC;
    border-bottom: none;
    font-size: 1.8em;
    text-align: center;
    outline: none;
}

#firstName {
    margin-right: -4px;
    border-right: 1px solid #7F886B;
}

#lastName {
    margin-left: 0px;
    border-left: 1px solid #7F886B;
    
}

.full {
    width: 80vw;
    border: 2px solid #7F886B;
    background-color: #F4EDDC;
    border-bottom: none;
    font-size: 1.8em;
    text-align: center;
    outline: none;
}

#sendMessageButton {
    border-bottom: 2px solid #7F886B;
    color: #7F886B;
}

#sendMessageButton:hover {
    background-color: #F4EDDC;
    color: #7F886B;
    -webkit-box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18); 
    box-shadow: 0px 0px 28px 17px rgba(0,0,0,0.18);
}

.welcomeWrapperFour form textarea {
    border-bottom: 2px solid #7F886B;
    height: 30vh;
    resize: none;
    margin-bottom: 20px;
}

::-webkit-input-placeholder { /* Edge */
    color: #7F886B;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7F886B;
  }
  
  ::placeholder {
    color: #7F886B;
  }

  .social-list {
      text-align: center;
      list-style-type: none;
      margin-bottom: 0;
  }

  /* .social-list li {
      margin-left: 15px;
      margin-right: 15px;
  } */

  .social-list li a {
      color: #7F886B;
      opacity: .7;
      font-size: 4em;
      margin-left: 15px;
      margin-right: 15px;

  }

  .social-list li a:hover {
      opacity: 1;
  }


  #about-wrapper-one {
      height: 35vh;
      /* width: 100vw; */
      background-image: url('https://images.pexels.com/photos/1648387/pexels-photo-1648387.jpeg?cs=srgb&dl=pexels-victoria-borodinova-1648387.jpg&fm=jpg');
      background-size: cover;
  }

  #about-wrapper-two {
      padding: 0 30px;
  }

  #about-wrapper-two h2 {
    text-align:center;
    color: #7F886B;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
  }

  #about-wrapper-two p {
      color :#7F886B;
      text-indent: 25px;
  }
  

#footer-wrapper {
    padding-left: 0px;
}


  footer {
      height: 20vh;
      background-color: #F4EDDC;
  }

  footer address {
    text-align: center;
    color: #7F886B;
  }

  footer address a {
      color: #7F886B;
  }

  footer address a:hover {
      text-decoration: none;
  }



  /* Services */

  .services-wrapper-one h2 {
      text-align: center;
      color: #7F886B
  }

  .services-wrapper-one table {
      margin: 0 auto;
      min-width: 60vw;
      -webkit-box-shadow: 5px 5px 15px 12px rgba(0,0,0,0.11); 
    box-shadow: 5px 5px 15px 12px rgba(0,0,0,0.11);
    margin-bottom: 60px;
  }

  #services-overview-wrapper {
      margin: 0 auto;
    min-width: 60vw;
    max-width: 60vw;
    border: 1px solid #F4EDDC;
    -webkit-box-shadow: 5px 5px 15px 12px rgba(0,0,0,0.11); 
box-shadow: 5px 5px 15px 12px rgba(0,0,0,0.11);
margin-bottom: 60px;
  }

  .services-wrapper-one table th {
      text-align: center;
      border: 1px solid #7F886B;
      color: #7F886B;
      font-size: 1.6em;
  }

  .services-wrapper-one table td {
    text-align: center;
    border: 1px solid #7F886B;
    color:#7F886B;
    font-size: 1.6em;
  }

  .services-wrapper-one dl {
      text-align: center;

  }

  .services-wrapper-one dt {
    font-size: 1.6em;
    color:#7F886B;
  }

  .services-wrapper-one dl {
    font-size: 1.6em;
    color: #7F886B;
  }

  .services-wrapper-one ul {
      list-style-type: none;
  }

  .services-wrapper-one li {
      font-size: .8em;
  }

  #credit-footer {
      height: 50px;
      background-color: #7F886B;
  }

  #credit-footer p {
      text-align: center;
      color: #F4EDDC;
      line-height: 50px;
  }
  


  /*Media queries*/


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 770px) {

    #menuBar {
        display: inline;
    }

    #menuBar:hover {
        text-decoration: none;
    }

    header nav a:first-child > img {
        height: 50px;
    }

    ::marker {
        display: none;
    }
    /* Styles */

    #welcome-wrapper-one {
        padding-top: 1px;
    }

    #welcome-wrapper-one p {
        font-size: 1em;
    }

    #desktop-sect {
        display: none;
    }

    #miniWidget {
        display: block;
    }

    .mobile-pic {
        width: 105vw;
        height: 40vh;
        /* background-image: url('../assets/results.jpg'); */
        background-size: cover;
    }

    #results-text-wrapper-mobile ul{
        text-align: center;
        list-style-type: none;
    }

    #results-text-wrapper-mobile ul li{
        color: #7F886B;
    }

    #results-pic-wrapper-mobile {
        background-image: url('../assets/results.jpg');
    }

    #handshake-pic-wrapper-mobile {
        background-image: url('../assets/handshake.jpg');
    }

    #fist-pic-wrapper-mobile {
        background-image: url('../assets/fist-photo-3184430.jpg');
    }

    #miniWidget h3 {
        text-align: center;
        font-family: 'Parisienne', cursive;
        color: #7F886B;
    }

    #miniWidget p {
        text-align: center;
        color: #7F886B;
        width: 92vw;
        margin: 0 auto;
    }

    .half, .full {
        font-size: 1.2em;
    }

   


    #headshot-wrapper {
        width: 200px;
        height: 200px;
    }

    #bio-name {
        font-size: 1.8em;
    }

    .bio-wrapper p {
        font-size: 1em;
    }

    #signature-wrapper {
        width: 150px;
        height: 75px;
        margin-bottom: 30px;
    }

    .welcomeWrapperFour h2 {
        font-size: 1.6em;
    }

    .mobile-menu-wrapper {
        background-color: #F4EDDC;
        height: 100vh;
        padding-top: 15vh;
    }

    .mobile-menu-wrapper ul {
        list-style-type: none;
        text-align: center;
        padding-left: 0;
    }

    .mobile-menu-wrapper ul li {
        margin-bottom: 50px;
    }
    .mobile-menu-wrapper ul li a {
        color: #7F886B;
        font-size: 2.2em;
    }

    .mobile-menu-wrapper ul li a:hover {
        text-decoration: none;
    }






    header nav a:not(:first-child) {
        display: none;
    }

    header nav a:last-child {
        display: list-item;
        /* float: right; */
        font-size: 2em;
        /* color: red; */
        float: right;
    }
    
    header nav a:first-child {
        text-align: center;
        float: center;
        margin: 0 auto;
    }

    .services-wrapper-one h2 {
        font-size: 1.5em;
    }

    .services-wrapper-one dt {
        font-size: 1.3em;
        color:#7F886B;
      }
    .services-wrapper-one dd {
        font-size: 1.3em;
    }

    #services-overview-wrapper, .services-wrapper-one table {
        min-width: 95vw;
    }






    #about-wrapper-two p {
        margin-bottom: 30px;
    }
    }


